body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
}

.slider-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    box-shadow: -7px -9px 76px -32px rgba(0,0,0,0.75);
}

.slider-container--slides {
    display: flex;
}

.slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    transition: 0.6s;
}

img {
    width: 90%;
}

figcaption {
    width: 90%;
    padding: 10px 0;
    background: #ffffff;
    text-align: left;
    font-weight: 100;
}

.active {
    transition: 0.6s;
}

.slider-container--footer {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90%;
    height: 48px;
    padding: 10px;
}

.slider-container--indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #ffffff;
    font-weight: 500;

    gap: 30px;
}

.arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

.arrow:hover {
    border-radius: 0.5rem;
}

.arrow:disabled .left,
.arrow:disabled .right {
    border-color: #1010104d;
}

.arrow .left,
.arrow .right {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid #2596be;
    border-width: 0 3px 3px 0;
    ;
}

.arrow .left {
    transform: rotate(-225deg);
}

.arrow .right {
    transform: rotate(315deg);
}

.slider-container-fs--button {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 0 0.5em 0;
    border: 1px solid #2596be;
    border-radius: 3rem;
    background-color: #ffffff;
    color: #2596be;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.slider-container-fs--button > span {
    position: relative;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    border: 0.1em solid #2596be;
}

.slider-container-fs--button > span:before,
.slider-container-fs--button > span:after {
    content: '';
    position: absolute;
    background: #ffffff;
}

.slider-container-fs--button:hover > span:before,
.slider-container-fs--button:hover > span:after {
    background: #2596be;
}

.slider-container-fs--button:hover > span {
    border: 0.1em solid #ffffff;
}

.slider-container-fs--button > span:before {
    top: -0.1em;
    left: 0.233em;
    width: 0.333em;
    height: 1em;
}

.slider-container-fs--button > span:after {
    top: 0.233em;
    left: -0.1em;
    width: 1em;
    height: 0.333em;
}

.slider-container-fs--button:hover {
    background: #2596be;
    color: #ffffff;
}

.slider-container-fs--button .fs-out--icon {
    display: none;
}

.fullscreen:fullscreen {
    justify-content: center;
}

.fullscreen:fullscreen .slide {
    display: flex;
    justify-content: center;
}

.fullscreen:fullscreen img {
    width: 70%;
}

.fullscreen:fullscreen figcaption {
    width: 70%;
    background: #000000;
    color: #ffffff;
}

.fullscreen:fullscreen .slider-container--indicator {
    height: 50px;
    border-radius: 0.5rem;
    background: #2596be;
    color: #ffffff;
}

.fullscreen:fullscreen .arrow {
    background: none;
}

.fullscreen:fullscreen .arrow .right,
.fullscreen:fullscreen .arrow .left {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
}

.fullscreen:fullscreen .arrow:disabled .left,
.fullscreen:fullscreen .arrow:disabled .right {
    border-color: #1010104d;
}

.fullscreen:fullscreen .fs-in--icon {
    display: none;
}

.fullscreen:fullscreen .fs-out--icon {
    display: block;
}

.fullscreen:fullscreen .fs-in--icon {
    display: none;
}

.fullscreen:fullscreen .slider-container-fs--button {
    background: #2596be;
    color: #ffffff;
}

.fullscreen:fullscreen .slider-container-fs--button:hover {
    filter: brightness(1.2);
}

.fullscreen:fullscreen .slider-container-fs--button > span {
    border: 0.1em solid #ffffff;
}

.fullscreen:fullscreen .slider-container-fs--button > span:before,
.fullscreen:fullscreen .slider-container-fs--button > span:after {
    background: #2596be;
}
